/* .parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-container{
    background-color: lightblue;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.SplashBox1 {
  margin-left: 100px;
  margin-right: 100px;
  height: 400px;
  border-radius: 20px;
}

.SplashBox2 {
  height: 100%;
  margin-left: 80px;
  margin-right: 100px;
  border-radius: 20px;
}
.welcome {
  font-size: 30px;
  text-align: center;
}

.quote {
  margin-top: 40px;
  font-size: 25px;
  text-align: center;
}

.quote2 {
  margin-top: 10px;
  font-size: 25px;
  text-align: center;
} */


.BoxOne {
    display: flex;
}
