.get-notes-parent{
    color: white;
   
}

.note{
    margin: 20px;
    background-color:  rgb(15, 89, 119);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.note-name{font-size: 25px;
    font-weight: bold;
}
