.get-books-parent{
    /* margin: 30px; */
    align-items: center;
    color: white;
    /* border-radius: 10px; */
    /* background-image: url('/src/images/bookshelf.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
.book{
    /* margin-top: 20px; */
    /* background-color: rgb(15, 89, 119); */
    /* padding: 20px; */
    border-radius: 20px;
    /* text-align: center; */
    font-weight: bold;
    margin-top: 5px;
    width: 100%;
}

.bookName_and_icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

#book-logo {
    margin-right: 5px;
}

.makerow{
    display: flex;
    flex-direction: row;
    align-self: center;
    /* align-items: center; */
    justify-content: center;

}

.book-button{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

.book-button:hover{
    color: #2e41ad;
}

.edit-book-button{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color:rgb(15, 89, 119)
}

.edit-book-button:hover{
    color: #2e41ad;
}
