.get-books-parent{
    margin: 30px;
    align-items: center;
    color: white;
    border-radius: 10px;
}
.book{
    margin-top: 20px;
    background-color: rgb(15, 89, 119);
    padding: 20px;
    border-radius: 20px;
}

.makerow{
    display: flex;
    flex-direction: row;
}
