.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
  }

  .user-form {
    background-color:  rgb(15, 89, 119);
    position: relative;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 80px;
    /* margin-top: 80px; */
    width: 25%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 2px black;
    border-radius: 20px;
    border: 1px solid black;
    color: white;
  }

  .form-title {
    color: white;
    font-size: 35px;
  }

  .user-form-errors {
    color: white;
      font-size: 14px;
  }

  .user-form-errors > ul,li {
      margin-right: 17px;
  }

  .user-form-errors > p {
      margin-left: 45px;
  }

  .form-inputs {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 3%;
    width: fit-content;
  }

  .user-form-button {
    min-width: fit-content;
    font-size: 1rem;
    min-height: fit-content;
    height: 2.25em;
    background-color: #4056a1;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 40%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .user-form-redirect {
    padding: 2%;
    text-align: center;
    font-size: 0.85rem;
  }


  .aa{
    background-color: rgb(26, 138, 182);
    font-weight: bold;
    outline: 0;
    border: 0;
    text-decoration: none;
    color: white;
    border-radius: 7px;
    padding: 7px;
    cursor: pointer;
    margin: 10px;
  }

  .aa:hover{
    background-color: lightblue;
    color: black;
  }



  .cancel-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cancel-button > a {
    color: white;
    margin: 5px 0 5px 0;
    font-weight: 700;
  }


  .redirect-link {
    color: white;
    text-decoration: none;
  }
  .logout-button{
    margin-left: 5px;
    text-decoration: none;
    outline: 0;
    background: #0f5977;
    border: 0;
    color: white;
    cursor: pointer;
    border-radius: 7px;
    padding: 5px;
    font-weight: bold;
  }

  .logout-button:hover {
    background: #b91919;
 }

  /* .logout-button{
    text-decoration: none;
  background-color: rgb(15, 89, 119);
  color: white;
  font-weight: bold;
  padding: 10px;
  padding-top: 4px;
  display: flex;
  justify-content: center;
  height: 20px;
  width: 70px;
  margin-top: 8px;
  margin-bottom: 5px;
  border-radius: 20px;

  } */
