.sidebar-div ul{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.sidebar-div h3{
    padding-inline-start: 40px;
}

.sidebar-parent {
height: 100vh;


}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    align-content: center;
    width: 30%;
    border: 5px solid white;
    margin-top: 70px;
    margin-left: 15px;
    /* padding-top: 10vh; */
    height: 700px;
    border-radius: 20px;
    background-color: lightblue;
}
