/* .sidebar-div ul{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
} */
/*
.sidebar-div h3{
    padding-inline-start: 40px;
}

/* .sidebar-parent {
height: 100vh;


} */ */

.sidebar-div h3{
    padding-inline-start: 0px;
}
.sidebar-parent {
    height: 90vh;
}

.sidebar-div ul{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.sidebar1{
    display: flex;
    flex-direction: column;
    /* justify-self: center;
    align-self: center;
    align-content: center; */
    width: 30%;
    border: 5px solid white;


    margin-left: 30px;
    /* padding-top: 10vh; */

    border-radius: 20px;
    background-color: lightblue;
    padding: 20px;
}

.sidebar2 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-self: center;
    align-self: center;
    align-content: center; */
    margin-right: 10px;
    border: 5px solid white;
    width: 100%;
    margin-left: 15px;
    /* padding-top: 10vh; */

    border-radius: 20px;
    background-color: lightblue;
}

.sidebar{
    display: flex;
    flex-direction: row;

    margin: 10px;


}
.makerow{
    display: flex;
    flex-direction: row;
}

.tag{
    display: flex;
    flex-direction: row;
}
