/* .sidebar-div ul{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
} */
/*
.sidebar-div h3{
    padding-inline-start: 40px;
}

/* .sidebar-parent {
height: 100vh;


} */

* {
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar-div h3{
    padding-inline-start: 0px;
}
.sidebar-parent {
    height: 90vh;
}

.sidebar-div ul{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.sidebar1{
    display: flex;
    flex-direction: column;
    /* justify-self: center;
    align-self: center;
    align-content: center; */
    width: 20%;
    /* border: 5px solid white; */


    /* margin-left: 30px; */
    /* padding-top: 10vh; */
    box-shadow: 1px 1px 8px rgb(112 111 111 / 36%);
    border-radius: 10px;
    background-color: lightblue;
    /* background-image: linear-gradient(to top, #0091c0, #47a3c9, #6cb5d2, #8dc6db, #add8e6); */
    padding-top: 20px;
}

.sidebar2 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* justify-self: center;
    align-self: center;
    align-content: center; */
    /* margin-right: 10px; */
    /* border: 5px solid white; */
    box-shadow: 1px 1px 8px rgb(112 111 111 / 36%);
    width: 100%;
    margin-left: 15px;
    /* padding-top: 10vh; */

    border-radius: 10px;
    background-color: rgb(173, 216, 230);
    /* background-image: linear-gradient(to top, #0091c0, #47a3c9, #6cb5d2, #8dc6db, #add8e6); */
    /* background-image: url('/src/images/background.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.makerow {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.tag{
    display: flex;
}

.book-title {
    align-self: center;
}

.book-title-tags {
    align-self: center;
    margin-top: 20px;
}
