.tag{
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
}

.get-tags-parent{
    margin: 30px;
    align-items: center;
    color: white;
    border-radius: 10px;
    background-image: url('/src/images/tags.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tag-button{
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
}
