.tag{
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
}

.get-tags-parent{
    margin: 30px;
    align-items: center;
    color: white;
    /* border-radius: 10px; */
    /* background-image: url(/src/images/bookshelf.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}



.tag-button{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.tag-button:hover{
    color: #2e41ad;
}
