.seetag{
    margin: 10px;
    padding: 5px;
    color: white;
}

.taglist {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.fa-tag:before {
    content: "\f02b";
    padding-right: 10px;
}
