.makerow{
    display: flex;
    flex-direction: row;
}

.input-bar{
    margin-top: 10px;
    width: 80px;
    height: 25px;
}

.edit-button{
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    font-weight: bold;
}
