.delete-button{
    margin-left: 5px;
    text-decoration: none;
    outline: 0;
    background: #b91919;
    border: 0;
    color: white;
    cursor: pointer;
    border-radius: 7px;
}

.delete-button:hover {
    background: #961414;
}
