.nav-container {
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.849);
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    top: 0px;
    left: 0px;
    box-shadow: 1px 1px 8px rgba(112, 111, 111, 0.356);
    justify-content: space-between;
    align-items: center;
}

.nav-container ul {

  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  text-align: center;
  list-style-type: none;
  }

.home-nav {
}

#logoutButton {
  background-color: green;
}

.login{
  display: flex;
  /* margin-left: 1100px; */
  text-decoration: none;
  background-color: rgb(15, 89, 119);
  color: white;
  font-weight: bold;
  padding: 10px;
  padding-top: 4px;
  margin-top: 8px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  height: 20px;
  width: 70px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.signup{
  text-decoration: none;
  background-color: rgb(15, 89, 119);
  color: white;
  font-weight: bold;
  padding: 10px;
  padding-top: 4px;
  display: flex;
  justify-content: center;
  height: 20px;
  width: 70px;
  margin-top: 8px;
  margin-bottom: 5px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home-nav{
  text-decoration: none;
  background-color: rgb(15, 89, 119);
  color: white;
  font-weight: bold;
  padding: 10px;
  padding-top: 4px;
  display: flex;
  justify-content: center;
  height: 20px;
  width: 70px;
  margin-top: 8px;
  margin-bottom: 5px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
