.profile-list-item {
    border-radius: 1px;
    font-weight: bold;
}

.profile-dropdown {
    font-weight: bold;
    height: 20px;
}

.profile-button ul {
    display: flex;
    flex-direction: column;
}

.welcome-message {
    margin-right: 5px;
    font-weight: bold;
}


.center-profile{
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
