.PostBook{

    border-radius: 10px;
}

.submit-button{
    /* margin-left: 10px;
    text-decoration: none;
    background-color: rgb(15, 89, 119);
    color: white;
    font-weight: bold;

    padding-top: 0px;


    height: 30px;
    width: 70px;
    border-radius: 20px; */
    /* text-decoration: bold; */
    font-weight: 1000;
  /* margin-left: 1100px; */


}
