.input-data{
}

#NewBookInputBox{
   background-color: #fff;
   margin-right: 5px;
   margin-left: 2px;
   border-radius: 5px;
}

.PostNote{
   background-color: rgb(23 131 175);
   padding: 40px;
   padding-top:10px;
   padding-bottom:10px;
   margin: 25px;
   border-radius: 10px;
   box-shadow: 1px 1px 8px rgba(26, 26, 26, 0.36);
}

.ck-editor__editable_inline {
   color:black;
   height: 15vh;
 }
.leave-review{
    background-color: white;
}


 @import url(https://fonts.googleapis.com/css?family=Roboto:300);

.PostBook {
  /* width: 300px; */
  /* padding: 8% 0 0; */
  /* margin: auto; */
}
.input-data-postNote {
   /* background: #FFFFFF; */
   max-width: 283px;
   /* margin: 0 auto 100px; */
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 8px;
   /* margin-right: 5px; */
   padding-left: 10px;
   /* text-align: center; */
   /* box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%); */
   display: flex;
   flex-direction: row;
   font-weight: bold;
}
.input-data-postNote input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  /* margin: 0 0 15px; */
  padding: 5px;
  box-sizing: border-box;
  font-size: 14px;
}
.input-data-postNote button {
  text-transform: uppercase;
  outline: 0;
  background: #0f5977;
  width: 40px;
  border: 0;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  border-radius: 7px;
}
.input-data-postNote button:hover,.input-data-postNote button:active,.input-data-postNote button:focus {
  background: #000f63;
}

.save-note-button{
   margin-left: 5px;
   text-decoration: none;
   outline: 0;
   background: #0f5977;
   border: 0;
   color: white;
   cursor: pointer;
   border-radius: 7px;
}

.save-note-button:hover {
   background: #000f63;
}

#newNoteOrEditNoteBox{
   margin-bottom: 10px;
}
