/* #NewBookInputBox{
   background-color: #fff;
   margin-right: 5px;
   margin-left: 2px;
   border-radius: 5px;
}

.PostNote{
   background-color: rgb(23 131 175);
   padding: 40px;
   padding-top:10px;
   padding-bottom:10px;
   margin: 25px;
   border-radius: 10px;
   box-shadow: 1px 1px 8px rgba(26, 26, 26, 0.36);
}

.ck-editor__editable_inline {
   color:black;
   height: 15vh;
 }
.leave-review{
    background-color: white;
}


 @import url(https://fonts.googleapis.com/css?family=Roboto:300);

.input-data-postNote {
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 8px;
   padding-left: 10px;
   display: flex;
   flex-direction: row;
   font-weight: bold;
}
.input-data-postNote input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  padding: 5px;
  box-sizing: border-box;
  font-size: 14px;
}
.input-data-postNote button {
  text-transform: uppercase;
  outline: 0;
  background: #0f5977;
  width: 40px;
  border: 0;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  border-radius: 7px;
  margin-right: 15px;
}
.input-data-postNote button:hover,.input-data-postNote button:active,.input-data-postNote button:focus {
  background: #000f63;
}

.save-note-button{
   margin-left: 5px;
   text-decoration: none;
   outline: 0;
   background: #0f5977;
   border: 0;
   color: white;
   cursor: pointer;
   border-radius: 7px;
}

.save-note-button:hover {
   background: #000f63;
}

#newNoteOrEditNoteBox{
   margin-bottom: 10px;
} */

.createANoteButtonForModalMain {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.createANoteButtonForModal {
   background-color: rgb(15, 89, 119);
   outline: 0;
   border: 0;
   border-radius: 7px;
   margin: 0;
   padding: 0;
   color: #fff;
   font-weight: bold;
   width: 10%;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
}

.createANoteButtonForModal:hover {
   background-color: #000f63;
}


.ck-editor__editable_inline {
   color:black;
   min-height: 500px !important;
   font-size: 14px;
   font-weight: normal !important;
   width: 100%;
}

.input-data-modal {
   /* width: 100%; */
   margin-bottom: 10px;
   border-radius: 5px;
   outline: 0;
   /* background: #ffffff; */
   border: 0;
   box-sizing: border-box;
   font-size: 20px;
   font-weight: bold;
   align-items: center;
   align-content: center;
   align-self: center;
   text-align: center;
}

#newNoteOrEditNoteBox-modal {
   /* width: 100%; */
   /* margin-bottom: 10px;
   border-radius: 5px;
   outline: 0;
   background: #ffffff;
   border: 0;
   box-sizing: border-box; */
   /* width: 10%; */
   display: flex;
   justify-content: center;
   margin-right: auto;
}
